---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home"
---
<BaseLayout pageTitle={pageTitle}>
  <h1>The Training of the Shrew</h1>
  <h2>Small Pointy-Nosed Land Mammal Gets Swol</h2>
</BaseLayout>